.container {
    padding: 5px;
}

.title {
    color: white;
    padding: 20px;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

.card {
    border-radius: 5px;
}

button {
    cursor: pointer;
}

table {
    width: 100%;
}

.demo-table {
    width: 100%;
}

.demo-button-container {
    padding-bottom: 16px;
}

.demo-button+.demo-button {
    margin-left: 8px;
}
